<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="85" 
            [radius]="100" 
            [imageSrc]="'../assets/img/logo-html.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#6f3460'" 
            [innerStrokeColor]="'#01c4e7'" 
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../assets/img/logo-html.png'" [showImage]="true"
            [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#6f3460'" 
            [innerStrokeColor]="'#01c4e7'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../assets/img/logo-html.png'" [showImage]="true"
            [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#6f3460'" 
            [innerStrokeColor]="'#01c4e7'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../assets/img/logo-html.png'" [showImage]="true"
            [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#6f3460'" 
            [innerStrokeColor]="'#01c4e7'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../assets/img/logo-html.png'" [showImage]="true"
            [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#6f3460'" 
            [innerStrokeColor]="'#01c4e7'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [imageSrc]="'../assets/img/logo-html.png'" [showImage]="true"
            [imageHeight]="60" [imageWidth]="60" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#6f3460'" 
            [innerStrokeColor]="'#01c4e7'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>
